<div class="container">
    <div class="avatar-secction">
        <div class="d-flex justify-content-center my-5">
            <img *ngIf="user.avatar" src="{{user.avatar}}" alt="" class="rounded-circle img-fluid w-25 h-25">
            <igx-avatar *ngIf="!user.avatar" icon="person" [roundShape]="true" size="large"></igx-avatar>
        </div>
    </div>
    <div class="info-secction text-center">
        <div>
            <h2 class="fst-italic">{{(user.firstName + ' ' + user.lastName) | titlecase }}</h2>
            <p class="text-secondary">Email: {{user.email}}</p>
        </div>
        <div class="options-secction">

        </div>
    </div>
    
</div>
