<div class="container mt-3">
    <div class="post-header mb-3">
        <h3 class="text-center">{{post.title}}</h3>
    </div>
    <igx-divider></igx-divider>
    <div class="post-author">
        <p>By <a class="link-secondary" routerLink="/user/{{post.user.username}}">{{post.user.firstName| titlecase}} {{post.user.lastName | titlecase}}</a>
         published on {{post.date | date:'MMM d, y h:mm a'}}</p>
    </div>
    <div class="post-main row">
        <div class="ck-content col-9" [innerHTML]="safeContent">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRSve86M1VepvMVyWBDuKJnXJdM7Rldqz51A&usqp=CAU" alt="">
        </div>
    </div>
    
    <div class="post-comments">

    </div>
</div>