<div class="container col-6">
    <form action="" #postForm="ngForm">
        <h3 class="text-center">Create Post</h3>
        <igx-input-group class="mb-3">
            <input igxInput type="text"  name="title" required [(ngModel)]="post.title"/>
            <label igxLabel for="title">Title</label>
        </igx-input-group>
        <div class="mb-3" id="ckeditor">
            <ckeditor  name="editorData" [editor]="editor"></ckeditor>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="button" (click)="save('active',snackbar)" class="mb-3 me-3 btn btn-primary" [disabled]="postForm.form.invalid">Publish</button>
            <button type="button" (click)="save('save',snackbar)" class="mb-3 btn btn-primary" [disabled]="postForm.form.invalid">Only Save</button>
        </div>
    </form>
    <igx-snackbar #snackbar>You already have a post about it</igx-snackbar>
</div>